In [20]:
import pandas as pd

In [21]:
purchase_data = pd.read_csv("purchase_data.csv")

In [22]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [23]:
purchase_data.columns.tolist()

['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price']

### Player Count
Total Number of Players

In [24]:
total_sn = len(purchase_data["SN"].value_counts())
player_count = pd.DataFrame({"Total Players": [total_sn]})
player_count

   Total Players
0            576

### Purchasing Analysis (Total)
- Number of Unique Items
- Average Purchase Price
- Total Number of Purchases
- Total Revenue

In [25]:
unique_items = len((purchase_data["Item ID"]).unique())
average_price = (purchase_data["Price"]).mean()
total_purchases = (purchase_data["Purchase ID"]).count()
revenue = (purchase_data["Price"]).sum()

summary_df = pd.DataFrame({
    "Number of Unique Items":[unique_items],
    "Average Price":[average_price],
    "Number of Purchases":[total_purchases],
    "Total Revenue":[revenue],
})
summary_df.style.format({
    "Average Price":"${:,.2f}",
    "Total Revenue":"${:,.2f}"
})

### Gender Demographics
- Percentage and Count of Male Players
- Percentage and Count of Female Players
- Percentage and Count of Other / Non-Disclosed

In [26]:
gender_grouped = purchase_data.groupby("Gender")
total_gender = gender_grouped.nunique()["SN"]

percent_players = total_gender / total_sn * 100
gender_demo = pd.DataFrame({
    "Total Count":total_gender,
    "Percentage of Players":percent_players
})
gender_demo.index.name = None
gender_demo.sort_values(["Total Count"], ascending=False).style.format({"Percentage of Players":"{:.2f}%"})

### Purchasing Analysis (Gender)
- The below each broken by gender
- Purchase Count
- Average Purchase Price
- Total Purchase Value
- Average Purchase Total per Person by Gender

In [27]:
purchase_count = gender_grouped["Purchase ID"].count()
average_purchase_price = gender_grouped["Price"].mean()
purchase_value = gender_grouped["Price"].sum()
average_purchase_per_person = purchase_value / total_gender

purchase_analysis_gender = pd.DataFrame({
    "Purchase Count":purchase_count,
    "Average Purchase Price":average_purchase_price,
    "Total Purchase Value":purchase_value,
    "Avg Total Purchase per Person":average_purchase_per_person
})
purchase_analysis_gender.index.name = "Gender"

purchase_analysis_gender.style.format({
    "Average Purchase Price":"${:,.2f}",
    "Total Purchase Value":"${:,.2f}",
    "Avg Total Purchase per Person":"${:,.2f}"
})

### Age Demographics
- The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
- Purchase Count
- Average Purchase Price
- Total Purchase Value
- Average Purchase Total per Person by Age Group

In [31]:
age_bin = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99.99]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bin, labels=bin_names)

age_groupby = purchase_data.groupby("Age Group")
total_count_age = age_groupby["SN"].nunique()
percentage_by_age = (total_count_age/total_sn) * 100

age_demo = pd.DataFrame({
    "Total Count":total_count_age,
    "Percentage of Players":percentage_by_age
})
age_demo.index.name = None
age_demo.style.format({"Percentage of Players":"{:,.2f}%"})

### Purchasing Analysis (age)
- The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
- Purchase Count
- Average Purchase Price
- Total Purchase Value
- Average Purchase Total per Person by Age

In [38]:
purchase_count_age = age_groupby["Purchase ID"].count()
average_purchase_price_age = age_groupby["Price"].mean()
total_purchases = age_groupby["Price"].sum()
average_purchase_per_person_age = total_purchases / total_count_age

age_demo = pd.DataFrame({
    "Purchase Count":purchase_count_age,
    "Average Purchase Price":average_purchase_price_age,
    "Total Purchase Value":purchase_value_age,
    "Avg Total Purchase per Person":average_purchase_per_person_age
})
age_demo.index.name = "Age Ranges"

age_demo.style.format({
    "Average Purchase Price":"${:,.2f}",
    "Total Purchase Value":"${:,.2f}",
    "Avg Total Purchase per Person":"${:,.2f}"
})

### Top Spenders
- Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
- SN
- Purchase Count
- Average Purchase Price
- Total Purchase Value

In [41]:
spender_group = purchase_data.groupby("SN")

purchase_count_spender = spender_group["Purchase ID"].count()
avg_purchase_price_spender = spender_group["Price"].mean()
purchase_total_spender = spender_group["Price"].sum()

top_spenders = pd.DataFrame({
    "Purchase Count":purchase_count_spender,
    "Average Purchase Price":avg_purchase_price_spender,
    "Total Purchase Value":purchase_total_spender
})
spender_format = top_spenders.sort_values(["Total Purchase Value"], ascending = False).head()

spender_format.style.format({
    "Average Purchase Price":"${:,.2f}",
    "Total Purchase Value":"${:,.2f}"
})

### Most Popular Items
- Identify the 5 most popular items by purchase count, then list (in a table):
- Item ID
- Item Name
- Purchase Count
- Item Price
- Total Purchase Value

In [42]:
items = purchase_data[["Item ID", "Item Name", "Price"]]
item_group = items.groupby(["Item ID", "Item Name"])

purchase_count_item = item_group["Price"].count()
purchase_value = (item_group["Price"].sum())
item_price = purchase_value / purchase_count_item

most_popular_items = pd.DataFrame({
    "Purchase Count":purchase_count_item,
    "Item Price":item_price,
    "Total Purchase Value":purchase_value
})
popular_format = most_popular_items.sort_values(["Purchase Count"], ascending = False).head()

popular_format.style.format({
    "Item Price":"${:,.2f}",
    "Total Purchase Value":"${:,.2f}"
})

### Most Profitable Items
- Identify the 5 most profitable items by total purchase value, then list (in a table):
- Item ID
- Item Name
- Purchase Count
- Item Price
- Total Purchase Value

In [43]:
popular_format = most_popular_items.sort_values(["Total Purchase Value"], ascending = False).head()

popular_format.style.format({
    "Item Price":"${:,.2f}",
    "Total Purchase Value":"${:,.2f}"
})