In [8]:
import pandas as pd

In [9]:
purchase_data = pd.read_csv("purchase_data.csv")

In [10]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [11]:
purchase_data.columns.tolist()

['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price']

### Player Count
Total Number of Players

In [12]:
total_sn = len(purchase_data["SN"].value_counts())
player_count = pd.DataFrame({"Total Players": [total_sn]})
player_count

   Total Players
0            576

### Purchasing Analysis (Total)
- Number of Unique Items
- Average Purchase Price
- Total Number of Purchases
- Total Revenue

In [15]:
unique_items = len((purchase_data["Item ID"]).unique())
average_price = (purchase_data["Price"]).mean()
total_purchases = (purchase_data["Purchase ID"]).count()
revenue = (purchase_data["Price"]).sum()

summary_df = pd.DataFrame({
    "Number of Unique Items":[unique_items],
    "Average Price":[average_price],
    "Number of Purchases":[total_purchases],
    "Total Revenue":[revenue],
})
summary_df.style.format({
    "Average Price":"${:,.2f}",
    "Total Revenue":"${:,.2f}"
})

### Gender Demographics
- Percentage and Count of Male Players
- Percentage and Count of Female Players
- Percentage and Count of Other / Non-Disclosed

In [19]:
gender_grouped = purchase_data.groupby("Gender")
total_gender = gender_grouped.nunique()["SN"]

percent_players = total_gender / total_sn * 100
gender_demo = pd.DataFrame({
    "Total Count":total_gender,
    "Percentage of Players":percent_players
})
gender_demo.index.name = None
gender_demo.sort_values(["Total Count"], ascending=False).style.format({"Percentage of Players":"{:.2f}%"})

### Purchasing Analysis (Gender)
- The below each broken by gender
- Purchase Count
- Average Purchase Price
- Total Purchase Value
- Average Purchase Total per Person by Gender

### Age Demographics
- The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
- Purchase Count
- Average Purchase Price
- Total Purchase Value
- Average Purchase Total per Person by Age Group

### Purchasing Analysis (age)
- The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
- Purchase Count
- Average Purchase Price
- Total Purchase Value
- Average Purchase Total per Person by Age

### Top Spenders
- Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
- SN
- Purchase Count
- Average Purchase Price
- Total Purchase Value

### Most Popular Items
- Identify the 5 most popular items by purchase count, then list (in a table):
- Item ID
- Item Name
- Purchase Count
- Item Price
- Total Purchase Value

### Most Profitable Items
- Identify the 5 most profitable items by total purchase value, then list (in a table):
- Item ID
- Item Name
- Purchase Count
- Item Price
- Total Purchase Value